*
!.gitignore
!README.md
!requirements.txt
!youtube_watcher
!youtube_watcher/watcher.py
!collector
!collector/fastapicollector.py
!extensions
!extensions/chrome_extension
!extensions/chrome_extension/*
