*
!.gitignore
!README.md
!requirements.txt

!QoE_youtube
!QoE_youtube/fastapicollector.py
!QoE_youtube/watcher.py
!QoE_youtube/extensions
!QoE_youtube/extensions/chrome_extension
!QoE_youtube/extensions/chrome_extension/*
!QoE_youtube/extensions/4.46.2_0.crx

!pcap
!pcap/pcapcollector.py

!extractor
!extractor/youtube_flow_extractor.py

!example.py